# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Machine Learning Models
*.pkl
*.joblib
*.h5
*.pt

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log